/*Colors
==========================================================================*/

.dark {
    color: #2F333D;
}

.gray {
    color: #9DA5B5;
}

.color {
    color: #40B9F6;
}

.light {
    color: #ffffff;
}

/*Background
==========================================================================*/

body.signup-page, body.login-page {
    background-color: #F2F3F7;
}

/*Text
==========================================================================*/

body {
    font-family: Ubuntu;
}

.title {
    font-size: 22px;
}

.title-page {
    font-size: 26px;
}

.subtitle {
    font-size: 18px;
}

.main {
    font-size: 16px;
}

.main-light {
    font-family: UbuntuLight;
    font-weight: 300;
    font-size: 16px;
}

.sign {
    font-size: 14px;
}

.b_logo{
    font-size: 22px;
}
/*Additional styles*/

.text-form-main {
    color: #3A3F4C;
}

::-webkit-input-placeholder {
    font-size: 14px;
    color: #9DA5B5;
}

/*Buttons
==========================================================================*/

.btn {
    background-color: #41b9f6;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
    padding: 0.4em 1.3em;
    border: none;
}

.btn:hover {
    background-color: #38bcfe;
    box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.1);
}

.btn:focus {
    background-color: #2d9ad1;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
}

.btn:active {
    background-color: #40B9F6;
    box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.16);
}

a.btn:hover {
    color: #ffffff;
}

.btn-icon:focus, .btn-icon:active {
    color: #41b9f6;
    cursor: pointer;
}

.btn-opacity {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    padding: 2px;
    box-shadow: none;
    cursor: pointer;
}

.btn-opacity:hover, .btn-opacity:active {
    color: #41b9f6;
    background-color: #06a7f800;
    box-shadow: none;
}

.btn-opacity:focus {
    outline: none;
    box-shadow: none;
}

.notificat-count {
    background-color: #40B9F6;
    color: #ffffff;
    font-size: 35%;
}

.badge {
    padding-top: 0.3em;
    border-radius: 30%;
    font-size: 0.5em;
    background-color: #40B9F6;
}

/*Links
==========================================================================*/

a, .link {
    color: #41b9f6;
}

a:hover {
    color: #06a7f8;
    text-decoration: none;
}

/*Containers
==========================================================================*/

body.signup-page>.main-container, body.login-page>.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}