@media (max-width: 768px) {
    body.home .signup-form .email-input {
        width: 100%;
    }
}

/*Styles for other page
==========================================================================*/

body.home .form-control {
    min-width: 300px;
    max-width: 500px;
}

body.login-page .form-basis, body.signup-page .form-basis {
    display: flex-inline;
    border-radius: 5px;
    box-shadow: 0 1px 3px 0 #00000026;
    width: 35em;
    margin: 5px auto;
    background-color: #ffffff;
    padding: 3em 4em 2em 4em;
}

body.login-page .form-footer, body.signup-page .form-footer {
    display: flex-inline;
    padding: 1.5em;
}

.email-input {
    min-width: 500px;
}

.input-group{
    max-width: 500px;
    flex-wrap: nowrap;
}

/*Form modal basis
==========================================================================*/

.modal-dialog {
    max-width: 660px;
}

.modal-content {
    border: none;
}

.modal-footer {
    border-top: none;
    padding: 0;
}

.modal-header {
    align-items: center;
    background-color: #40B9F6;
    height: 50px;
    padding-left: 10%;
    border: none;
}

.modal-header__title{
    margin-bottom: 0;
}

.modal-header_dark {
    background-color: #2F333D;
}

.modal-header__btn-clos:focus{
    outline: none;
}

.modal-body {
    padding: 4% 10%;
}

.modal-body_menu {
    padding: 0;
}
/*Form element
==========================================================================*/

.form-control {
    border: color #D7DAE0;
    background-color: rgba(0, 0, 0, 0);
}

.form-control:focus {
    border-color: #40B9F6;
    box-shadow: none;
    background-color: rgba(0, 0, 0, 0);
}

.form-control:active {
    border-color: #40B9F6;
    box-shadow: none;
}

.modal-content .form-control {
    margin: 7px 7px 7px 0;
    ;
    min-width: 100px;
    max-width: inherit;
}

textarea {
    min-height: 100px;
}

.action {
    margin: 0.2em;
}