@import url('./form.css');
@import url('./base.css');

/*Navbar
  ==========================================================================*/

nav.navbar {
    background-color: #ffffff;
    box-shadow: 0 1.5px 4px rgba(65, 92, 105, .06);
    color: #2f333d;
    padding: 0.8em 2em; 
}

a.navbar-brand-dark {
    color: #2F333D;
}

a.nav-link {
    position: relative;
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-family: Ubuntu;
    color: #2F333D !important;
    font-size: 1em;
}

a.nav-link::after {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 1px;
    background: #40B9F6;
    content: '';
    opacity: 0;
    transition: height 0.3s, opacity 0.3s, transform 0.3s;
    transform: translateY(-10px);
}

a.nav-link:hover::after, a.nav-link:focus::after {
    height: 3px;
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    transform: translateY(0px);
}

/*Text
  ==========================================================================*/

.title {
    font-size: 50px;
    font-weight: 600;
}

.text-base{
    font-size: 18px;
}

/*Containers
  ==========================================================================*/

.content-section {
    display: flex;
    align-items: center;
    background-repeat: no-repeat;
    height: 100vh;
    padding: 0 5em;
}

.content-section-small {
    height: 60vh;
    justify-content: center;
    align-items: center;
}

footer.container-fluid {
    flex-wrap: wrap;
    padding: 0 0;
}

/*Colors, background
  ==========================================================================*/

#main-section {
    background-image: url(../svg/1-main.svg);
    background-position: right;
}

#control-section {
    background-image: url(../svg/2-control.svg);
    background-position: left;
}

#slider-interface-section{
    background-image: url(../svg/3-tabs.svg);
    background-position: right;
}

#command-section {
    background-image: url(../svg/6-command.svg);
    background-position: left;
}

#sign_up-section {
    background-image: url(../svg/7-sign_up.svg);
    background-position: right;
    background-repeat: no-repeat;
}

footer {
    background-color: #40b9f675;
}

/*Cards
==========================================================================*/

.card {
    padding-top: 0.8rem;
    height: auto;
    border-radius: 5px;
    cursor: pointer;
}

.card-header {
    line-height: 1.3;
}

.card-footer, .card-header, .card-body {
    background-color: #ffffff;
    padding: 0.5rem 1.5rem 0rem 1.5rem;
    height: auto;
    border: none;
}
.card-actions{
    border-top: 1px solid #9DA5B5;
}

.title-card {
    font-size: 22px;
}

ul {
    list-style: none;    
}

.action svg, .icon-text {
    vertical-align: middle;
    color: #9DA5B5;
    fill: #9DA5B5;
}

.project-version {
    display: inline-block;
    height: 1.8em;
    vertical-align: middle;
    ;
    background-color: #F2F3F7;
    border-radius: 5px;
}

/*Command block
  ==========================================================================*/

#block-command .row {
    margin: 3%;
    text-align: center;
    display: block;
}

#block-command .row img {
    margin: 0 3%;
    border-radius: 50%;
    border: 0.8em solid #2da8e633;
    width: 25%;
    height: 25%;
    z-index: 1;
}

.jtk-connector, .jtk-endpoint {
    z-index: -1;
}

.jtk-endpoint {
    visibility: hidden;
}

/*Slider cards
==========================================================================*/

.slider-cards {
    position: relative;
    margin: 20px;
}

.card-slide {
    left: 50%;
    padding-top: 0.8rem;
    margin-left: -200px;
    position: absolute;
    width: 400px;
    height: 250px;
    box-shadow: 0 10px 20px 1px #1d21242e;
    transition: 0.3s cubic-bezier(0.28, 0.55, 0.385, 1.65);
}

.card-slide:nth-child(1) {
    z-index: 3;
    top: 0px;
    transform: scaleX(1);
}

.card-slide:nth-child(2) {
    z-index: 2;
    top: 20px;
    transform: scaleX(0.9);
}

.card-slide:nth-child(3) {
    z-index: 1;
    top: 40px;
    transform: scaleX(0.8);
}

.arrow {
    position: absolute;
    top: 50%;
    margin-top: 125px;
}



/*Slider interface
==========================================================================*/
.slider-interface{
    position: relative;
}
.single-item img {
    margin: 0 auto;
    width: 70%;
    box-shadow: 14px 28px 45px -24px rgba(50,50,50,0.57);
}

.single-item {
    width: 1000px;
    order: 0;
    margin: 0 40px;
}

.prev {
    position: absolute;
    top: 200px;
}

.next {
    position: absolute;
    top: 200px;
    right: 0;
}

.text-slide {
    text-align: center;
    width: 70%;
    margin: 0 auto;
    padding-top: 5%;
}

.title-sliide{
    font-size: 30px;
}

.slick-dots li button:before{
    font-size: 50px;
    color: #D7DAE0;
    opacity: 1;
}

.slick-dots li.slick-active button:before{
    color: #9DA5B5;
}

/*Images
  ==========================================================================*/

.user-sm {
    height: 28px;
    width: 28px;
}

@media (min-width: 768px) {
    .title {
        font-size: 35px;
    }
    .text-base{
        font-size: 16px;
    }

    .img-main{
        max-width: 600px;
        margin-top: 40px;
    }
    .navbar{
        margin-bottom: 40px;
    }
}

@media (min-width: 1200px) {
    .title {
        font-size: 50px;
    }    
    .img-main{
        max-width: 800px;
    }
}