@import url('form.css');
@import url('base.css');
@media (min-width: 576px) {
    html {
        font-size: 16px;
    }
}

body.profile{
    min-height: 100vh;
}
/*Images
==========================================================================*/

.user-sm {
    height: 28px;
    width: 28px;
}

.user-nav {
    height: 24px;
    width: 24px;
}

.profile-photo {
    width: 200px;
    height: 200px;
}

/*Labels
==========================================================================*/

.label {
    display: block;
    height: 1.3em;
    width: 3em;
    border-radius: 5px;
}

.label-purple {
    background-color: #505BE4;
}

.label-pink {
    background-color: #D72D77;
}

.label-green {
    background-color: #2DD7A6;
}



/*Dropdown element
==========================================================================*/

.modal-dialog {
    max-width: 660px;
}

.dropdown-notificat {
    padding: 1em 1.5em;
    min-width: 400px;
}