<template>
  <div class="content-area">
    <topbar/>
    <div class="content-area_solid container-fluid pl-0">
      <div class="content-area d-flex">
        <div class="nav menu flex-column pt-4">
          <router-link
            class="menu__item"
            exact-active-class="menu__item-active"
            to="/"
            exact
            title="Профиль">
            <icon>person</icon>
          </router-link>
          <router-link
            class="menu__item"
            active-class="menu__item-active"
            to="/tasks"
            title="Задачи">
            <icon>assignment</icon>
          </router-link>
          <router-link
            class="menu__item"
            exact
            active-class="menu__item-active"
            to="/dashboards"
            title="Доски">
            <icon>dashboard</icon>
          </router-link>
        </div>
        <router-view/>
      </div>
    </div>
  </div>
</template>

<script>
import Icon from "./components/BaseIcon.vue";
import Topbar from "./components/TheTopbar.vue";

export default {
  components: {
    Icon,
    Topbar,
  },
};
</script>

<style scoped>
.menu {
  background-color: #3a3f4c;
  min-height: inherit;
  min-width: 50px;
  max-width: 50px;
  text-align: center;
  margin-right: 100px;
}

.menu__item {
  cursor: pointer;
  border: solid rgba(0, 0, 0, 0);
  width: 100%;
  padding: 10px 0;
  background-color: rgba(0, 0, 0, 0);
  color: #9da5b5;
}

.menu__item:hover {
  color: #40b9f6;
}

.menu__item-active {
  background-color: #2f333d;
  border-left: solid #40b9f6;
  outline: none;
  color: #40b9f6;
}

.content-area{
  min-height: inherit;
}
.content-area_solid {
  background-color: #f2f3f7;
  min-height: inherit;
}
</style>
