<template>
<i class="material-icons" 
  :class="[{'material-icons_active':active}, 'material-icons_'+color, 'material-icons_'+size]">
  <slot/>
</i>
</template>

<script>
export default {
  props: {
    active: {
      type: Boolean,
      default: false
    },
    color: {
      type: String,
      default: "inherit"
    },
    size: {
      type: String,
      default: "sm"
    }
  }
};
</script>

<style scoped>
.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  vertical-align: middle;
}

.material-icons_active .material-icons_blue {
  color: #41b9f6;
  cursor: pointer;
}

.material-icons_gray {
  color: #9da5b5;
}

.material-icons_dark {
  color: #2f333d;
}

.material-icons_light {
  color: #ffffff;
}
.material-icons_inherit {
  color: inherit;
}

.material-icons_active:hover {
  color: #41b9f6;
}

.material-icons_sm {
  font-size: 24px;
}
.material-icons_md {
  font-size: 36px;
}

.material-icons_lg {
  font-size: 48px;
}
</style>

