<template>
  <div class="field">
    <label
      class="field__label sign">{{ field.label }}
      <input
        :value="value"
        :name="field.fieldName"
        :type="field.type"
        class="field__input form-control"
        @input="$emit('input', $event.target.value)"
      >
    </label>
  </div>
</template>

<script>
import { mapGetters } from "vuex";

export default {
  props: {
    id: {
      type: Number,
      default: null,
    },
    value: {
      type: String,
      default: "",
    },
  },
  computed: {
    ...mapGetters(["getFieldById"]),
    field() {
      return this.getFieldById(this.id);
    },
  },
};
</script>

<style>
.field{
  display: block;
  margin: 15px 0;
}

.field__label{
  margin-bottom: 0;
  display: block;
}
</style>

