<template>
  <div>
    <button
      class="board-badge__settings-button btn-opacity btn-icon light"
      type="button"
      data-toggle="modal"
      data-target="#newBoardForm"
      @click="editBoard(board)">
      <icon>settings</icon>
    </button>
    <router-link to="/dashboards/viewboard">
      <div
        class="board-badge"
        @click="selectBoard(board.id)">
        <span class="board-badge__title subtitle light">
          <b>{{ board.name }}</b>
        </span>
        <span class="board-badge__count-cards sign light"/>
      </div>
    </router-link>
  </div>
</template>

<script>
import { mapActions } from "vuex";
import Icon from "./BaseIcon.vue";

export default {
  components: { Icon },
  props: {
    board: {
      id: Number,
      name: "",
      isPersonal: false,
    },
  },
  methods: {
    ...mapActions(["selectBoard", "editBoard"]),
  },
};
</script>


<style>
.board-badge {
  width: 260px;
  height: 160px;
  background-color: #2dd7a6;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  margin: 10px 15px 0 0;
}

.board-badge:hover {
  box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.1);
}

.board-badge__settings-button {
  float: right;
  margin-right: 25px;
  margin-top: 18px;
}

.board-badge__settings-button:hover {
  transform: scale(1.1);
  color: #ffffff;
}
</style>
