<template>
  <div>
    <div class="dropdown dropdown-more">
      <button
        id="dropdownCardMore"
        class="card__settings-button btn-opacity"
        type="button"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false">
        <icon
          color="gray">more_vert</icon>
      </button>
      <div
        class="dropdown-menu"
        aria-labelledby="dropdownCardMore">
        <button
          class="dropdown-item"
          data-toggle="modal"
          type="button"
          @click="deleteCard(card.id)">
          Удалить
        </button>
      </div>
    </div>
    <div
      class="card"
      data-toggle="modal"
      data-target="#newTaskForm"
      @click="editCard(card)">
      <div class="card__header">
        <span class="card__title subtitle dark"><b>{{ card.name }}</b></span>
        <span
          v-show="card.label"
          class="card__label label label-purple"
        />
      </div>
      <div class="card__body flex-column">
        <p
          v-show="card.description"
          class="card__description main gray">{{ card.description }}
        </p>
        <div class="card__info">
          <span
            v-show="card.productName||card.productVersion"
            class="card__product sign">
            {{ card.productName }} {{ card.productVersion }}
          </span>
          <img
            v-if="card.userId"
            :src="profilePhoto"
            class="card__user user-sm rounded-circle ml-auto">
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
import Icon from "./BaseIcon.vue";

export default {
  components: { Icon },
  props: {
    card: {
      id: Number,
      listId: Number,
      boardId: Number,
      name: "",
      description: "",
      productName: "",
      productVersion: "",
      userId: null,
    },
  },
  computed: {
    ...mapGetters(["getUserDataById"]),
    profilePhoto() { return this.getUserDataById(this.card.userId).userPhoto; },
  },
  methods: {
    ...mapActions(["editCard", "deleteCard"]),
  },
};
</script>

<style>
.card {
  padding: 5px 20px 0 20px;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px 0;
  box-shadow: 0 3px 5px 0px #0000000e;
  border: none;
}

.card:hover{
  box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.1);
}

.card__settings-button{
  position: absolute;
  right: 5px;
  top: 10px;
  z-index: 2;
}

.card__settings-button:hover {
  transform: scale(1.1);
}

.card__footer,
.card__header,
.card__body {
  display: flex;
  background-color: #ffffff;
  padding: 5px 0;
  height: auto;
  border: none;
}

.card__label {
  margin: 5px;
  min-width: 60px;
}

.card__info {
  display: flex;
  flex-direction: row;
  padding-bottom: 10px;
}

.card__product {
  padding: 2px 5px;
  color: #9da5b5;
  background-color: #f2f3f7;
  border-radius: 5px;
}

ul.card-actions {
  list-style: none;
  border-top: 1px solid #9da5b5;
  padding: 5px 0;
  margin: 0;
}
.card-actions {
  display: flex;
  width: 100%;
}
.card-actions__action {
  padding-right: 5px;
}

.card-actions__icon-text {
  vertical-align: middle;
}
</style>
