<template>
  <div class="col-3 pt-4">
    <span class="title"><b>{{ list.listName }}</b></span>
    <span
      v-show="list.wipLimit"
      class="title gray">({{ list.wipLimit }})</span>
    <Card
      v-for="card in getCardsFromList(list.id)"
      :key="card.id"
      :card="card"
    />
    <button
      :disabled="checkWip"
      class="btn btn_in-list"
      type="button"
      data-toggle="modal"
      data-target="#newTaskForm"
      @click="showFormCard(list)"
    >
      Добавить задачу...
    </button>
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
import Card from "./Card.vue";
import FormNewCard from "./FormNewCard.vue";

export default {
  components: {
    Card,
    FormNewCard,
  },
  props: {
    list: {
      id: Number,
      boardId: null,
      listName: "",
      wipLimit: null,
    },
  },
  computed: {
    ...mapGetters(["getCardsFromList"]),
    checkWip() {
      if (this.list.wipLimit) {
        return !(this.list.wipLimit > this.getCardsFromList(this.list.id).length);
      } return false;
    },
  },
  methods: {
    ...mapActions(["showFormCard"]),
  },
};
</script>

<style>
.card-list {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.btn_in-list {
  background-color: #ffffff;
  width: 100%;
  color: #9da5b5;
  margin-top: 10px;
  box-shadow: 0 3px 5px 0px #0000000e;
}

.btn_in-list:hover,
.btn_in-list:focus,
.btn_in-list:active  {
  background-color: #ffffff;
}
</style>

