<template>
  <div>
    <EventListItem
      v-for="event in events"
      v-if="event"
      :key="event.id"
      :event="event"
    />
  </div>
</template>

<script>
import EventListItem from "./EventListItem.vue";

export default {
  components: {
    EventListItem,
  },
  data() {
    return {
      nextEventId: 5,
      events: [
        {
          id: 1,
          userImage: "./img/profile_7.jpg",
          userName: "Дмитрий Иванов",
          doing: "прокомментировал(а) карточку ",
          link: 'Сверстать окно "Список продавцов" на моках ',
          doingAdd: "",
          linkAdd: "",
          content:
            "Поменять шрифт на Open Sans (начертание Semi-Bold и Regular).",
          timeStamp: "2 дня назад",
        },
        {
          id: 2,
          userImage: "./img/profile_1.jpg",
          userName: "Александр Волошин",
          doing: "установил(а) срок карточке ",
          link: "Добавить таб-бар в мобильное приложение ",
          doingAdd: "срок в среду в 12:00",
          linkAdd: "",
          content: "",
          timeStamp: "2 дня назад",
        },
        {
          id: 3,
          userImage: "./img/profile_7.jpg",
          userName: "Дмитрий Иванов",
          doing: "добавил(а) карточку ",
          link: 'Сверстать окно "Список продавцов" на моках" ',
          doingAdd: "в список ",
          linkAdd: "Запланировано",
          content: "",
          timeStamp: "3 дня назад",
        },
        {
          id: 4,
          userImage: "./img/profile_5.jpg",
          userName: "Анна Сидорова",
          doing: "добавил(а) список ",
          link: "Дизайн",
          doingAdd: "к доске",
          linkAdd: "UI",
          content: "",
          timeStamp: "3 дня назад",
        },
        {
          id: 5,
          userImage: "./img/profile_4.jpg",
          userName: "Артем Фадеев",
          doing: "переместил(а) карточку ",
          link: 'Сверстать окно "Список продавцов" на моках"',
          doingAdd: "из списка Сборка в список ",
          linkAdd: "Завершено",
          content: "",
          timeStamp: "5 дней назад",
        },
        {
          id: 6,
          userImage: "./img/profile_2.jpg",
          userName: "Николай Алехин",
          doing: "установил(а) WIP 3",
          link: "",
          doingAdd: "для списка",
          linkAdd: "В работе",
          content: "",
          timeStamp: "6 дней назад",
        },
        {
          id: 7,
          userImage: "./img/profile_5.jpg",
          userName: "Анна Сидорова",
          doing: "добавил(а) карточку",
          link: "Кнопка CTA",
          doingAdd: "В список",
          linkAdd: "В работе",
          content: "",
          timeStamp: "6 дней назад",
        },
        {
          id: 8,
          userImage: "./img/profile_7.jpg",
          userName: "Дмитрий Иванов",
          doing: "добавил(а) карточку",
          link: "Меню навигации",
          doingAdd: "В список",
          linkAdd: "Требования",
          content: "",
          timeStamp: "6 дней назад",
        },
      ],
    };
  },
};
</script>

