<template>
  <div class="event">
    <img
      :src="event.userImage"
      class="event__user-image rounded-circle">
    <div class="event-description">
      <div class="event-description__title">
        <span class="subtitle dark"><b>{{ event.userName }}</b></span>
        <span class="main gray">{{ event.doing }}</span>
        <a
          v-if="event.link"
          class="main"
          href="#">{{ event.link }}</a>
        <span
          v-if="event.doingAdd"
          class="main gray">{{ event.doingAdd }}</span>
        <a
          v-if="event.linkAdd"
          class="main"
          href="#">{{ event.linkAdd }}</a>
      </div>
      <div
        v-if="event.content"
        class="event-description__user-text main dark">{{ event.content }}</div>
      <div class="event-description__time-stamp sign gray">{{ event.timeStamp }}</div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    event: {
      userImage: String,
      doing: String,
      link: String,
      doingAdd: String,
      linkAdd: String,
      content: String,
      timeStamp: String,
    },
  },
};
</script>

<style>
.event {
  margin-bottom: 35px;
  display: flex;
}
.event__user-image {
  height: 28px;
  width: 28px;
  margin-right: 15px;
}

.event-description__user-text {
  padding: 5px 0;
}

.event-description__time-stamp {
  padding-top: 5px;
}
</style>
