<template>
  <div
    id="userSettings"
    class="modal fade"
    tabindex="-1"
    role="dialog"
    aria-hidden="true">
    <div
      class="modal-dialog modal-dialog-centered"
      role="document">
      <div class="modal-content">
        <div class="modal-header modal-header_dark">
          <h2 class="modal-header__title subtitle light">Настройки профиля</h2>
          <button
            class="btn-opacity modal-header__btn-close close light"
            type="button"
            data-dismiss="modal"
            aria-label="Close"
            @click="hideUserSettingsForm">
            <icon>close</icon>
          </button>
        </div>
        <div class="modal-body">
          <form
            action="#"
            method="post">
            <base-input
              v-for="field in dataForm.fields"
              :key="field.id"
              :id="field.id"
              v-model="dataForm.user[field.fieldName]"
            />
          </form>
          <div class="d-flex justify-content-center">
            <button
              data-dismiss="modal"
              class="btn"
              type="button"
              @click="editUserSettings(dataForm.user)"
            >
              Сохранить
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions, mapState } from "vuex";
import BaseInput from "./BaseInput.vue";
import Icon from "./BaseIcon.vue";

export default {
  components: { Icon, BaseInput },
  computed: mapState({ dataForm: state => state.formUser }),
  methods: {
    ...mapActions(["editUserSettings", "hideUserSettingsForm"]),
  },
};
</script>

<style>
.user-settings__block{
    margin-bottom: 20px;
    border-bottom: 1px solid #D7DAE0;
    padding-bottom: 20px;
}
.user-settings__input-group{
    margin-bottom: 10px;
}
.user-settings__label{
    margin: 0;
}
</style>
