<template>
  <div
    id="newBoardForm"
    class="modal fade"
    tabindex="-1"
    role="dialog"
    aria-hidden="true">
    <div
      class="modal-dialog modal-dialog-centered"
      role="document">
      <div class="modal-content">
        <div class="modal-header modal-header_dark">
          <h2 class="modal-header__title subtitle light"/>
          <button
            class="modal-header__btn-close close light"
            type="button"
            data-dismiss="modal"
            aria-label="Close"
            @click="hideFormBoard">
            <icon>close</icon>
          </button>
        </div>
        <div class="modal-body">
          <form
            action="#"
            method="post">
            <div class="board-settings">
              <div class="board-settings__block">
                <span class="board-settings__title subtitle">Базовые</span>
                <input
                  v-model="data.board.name"
                  class="form-control"
                  placeholder="Название доски">
                <div class="form-group form-check my-2">
                  <input
                    id="isPersonalCheck"
                    v-model="data.board.isPersonal"
                    type="checkbox"
                    class="form-check-input">
                  <label
                    class="form-check-label sign"
                    for="isPersonalCheck">Персональная</label>
                </div>
              </div>
              <div class="board-settings__block">
                <span class="board-settings__title subtitle">Списки</span>
                <div class="row board-settings__lists form-group">
                  <input
                    v-model="data.newList.listName"
                    class="form-control col"
                    placeholder="Название нового списка">
                  <input
                    v-model="data.newList.wipLimit"
                    class="form-control col-2"
                    placeholder="Wip">
                  <button
                    class="btn-opacity"
                    type="button"
                    @click="saveList">
                    <icon>done</icon>
                  </button>
                </div>
                <template
                  v-for="list in getLists(data.board.id||newBoardId)"
                  :list="list">
                  <div
                    :key="list.id"
                    class="row board-settings__lists form-group">
                    <input
                      v-model="list.listName"
                      class="form-control col"
                      placeholder="Название списка">
                    <input
                      v-model="list.wipLimit"
                      class="form-control col-2"
                      placeholder="Wip">
                    <button
                      class="btn-opacity"
                      type="button"
                      @click="saveList">
                      <icon>done</icon>
                    </button>
                  </div>
                </template>
              </div>
            </div>
            <div class="d-flex flex-column">
              <button
                data-dismiss="modal"
                class="btn w-25 mx-auto"
                type="button"
                @click="submitForm">
                Сохранить
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';
import Icon from "./BaseIcon.vue";

export default {
  components: { Icon },
  computed: {
    ...mapGetters({
      data: "getFormBoard",
      getLists: "getListsFromBoard",
      newBoardId: "getBoardNextId",
      newListId: "getListNextId",
    }),
  },
  methods: {
    ...mapActions(["addBoard", "showFormBoard", "hideFormBoard", "addList"]),
    submitForm() {
      if (this.data.board.id) {
        this.hideFormBoard();
      } else if (this.data.board.name) {
        this.data.board.id = this.newBoardId;
        this.addBoard(this.data.board);
        this.hideFormBoard();
      }
    },
    saveList() {
      if ((this.data.newList.listName) && (this.data.board.name)) {
        this.data.newList.id = this.newListId;
        if (this.data.board.id) {
          this.data.newList.boardId = this.data.board.id;
          this.addList(this.data.newList);
        } else {
          this.data.newList.boardId = this.newBoardId;
          this.addList(this.data.newList);
        }
        this.data.newList = {};
      }
    },
  },
};
</script>

<style>
.board-settings__block{
    margin-bottom: 20px;
    border-bottom: 1px solid #D7DAE0;
    padding-bottom: 20px;
}

.board-settings__block:last-child{
    border-bottom: none;
}

.board-settings__title{
    padding-bottom: 10px;
}

.board-settings__lists{
    margin: 0 0;
}
</style>
