<template>
  <div
    id="newTaskForm"
    class="modal fade"
    tabindex="-1"
    role="dialog"
    aria-hidden="true">
    <div
      class="modal-dialog modal-dialog-centered"
      role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-header__title subtitle light">{{ data.card.name }}</h2>
          <button
            class="modal-header__btn-close close light"
            type="button"
            data-dismiss="modal"
            aria-label="Close"
            @click="hideFormCard">
            <icon>close</icon>
          </button>
        </div>
        <div class="modal-body">
          <form
            action="#"
            method="post">
            <div class="d-flex flex-column">
              <div class="d-flex align-items-center">
                <select
                  id="tasklist"
                  v-model="data.card.listId"
                  class="form-control">
                  <option
                    v-for="list in listsForMove"
                    :key="list.id"
                    :value="list.id">
                    {{ list.listName }}
                  </option>
                </select>
              </div>
              <div class="d-flex">
                <input
                  id="taskProductName"
                  v-model="data.card.productName"
                  class="form-control w-75"
                  placeholder="Продукт">
                <input
                  id="taskProductVersion"
                  v-model="data.card.productVersion"
                  class="form-control w-25 mr-0"
                  placeholder="Версия">
              </div>
              <input
                id="taskName"
                v-model="data.card.name"
                class="form-control"
                placeholder="Название задачи">
              <textarea
                id="taskDesk"
                v-model="data.card.description"
                class="form-control"
                rows="3"
                placeholder="Описание задачи"/>
              <button
                data-dismiss="modal"
                class="btn w-25 mx-auto"
                type="button"
                @click="submitForm">
                Сохранить
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
import Icon from "./BaseIcon.vue";

export default {
  components: {
    Icon,
  },

  computed: {
    ...mapGetters({
      data: "getFormCard",
      listsFromBoard: "getListsFromBoard",
      newCardId: "getCardNextId",
    }),

    listsForMove() {
      return this.listsFromBoard(this.data.fromBoardId);
    },
  },
  methods: {
    ...mapActions(["addCard", "hideFormCard", "saveEditCard"]),
    submitForm() {
      if (this.data.card.id) {
        this.saveEditCard(this.data.card);
        this.hideFormCard();
      } else if (this.data.card.name) {
        this.data.card.id = this.newCardId;
        this.data.card.boardId = this.data.fromBoardId;
        this.addCard(this.data.card);
        this.hideFormCard();
      } else this.hideFormCard();
    },
  },
};
</script>
