<template>
  <nav class="navbar navbar-expand-lg sticky-top flex-row">
    <a
      class="b_logo light"
      href="index.html">KanbanBoard</a>
    <div class="collapse navbar-collapse justify-content-between">
      <div class="navbar-nav align-items-center ml-auto">
        <button
          type="button"
          class="btn-opacity mx-2">
          <icon
            active
            color="gray">settings</icon>
        </button>
        <div class="user-name flex-row ml-2">
          <img
            src="img/profile_7.jpg"
            class="user-nav rounded-circle mr-1">
          <a
            class="navbar-text main-light gray"
            href="#">Дмитрий Иванов</a>
        </div>
      </div>
    </div>
  </nav>
</template>

<script>
import Icon from "./BaseIcon.vue";

export default {
  components: { Icon },
};
</script>

<style scoped>
nav.navbar {
  background-color: #2f333d;
  color: #ffffff;
  box-shadow: 0 1.5px 4px rgba(65, 92, 105, 0.06);
  padding: 0.8em 2em;
}

nav a:hover {
  color: #41b9f6;
}

nav input.form-control {
  border-color: rgba(0, 0, 0, 0);
  background-color: #3a3f4c;
}
</style>
