<template>
  <div class="dashboards">
    <FormNewBoard/>
    <button
      class="btn"
      type="button"
      data-toggle="modal"
      data-target="#newBoardForm">
      <b>Добавить доску</b>
    </button>
    <div class="boards-list">
      <span class="boards-list__title subtitle"><b>Персональные</b></span>
      <div class="boards-list__content">
        <span
          v-show="getBoardsPersonal == 0"
          class="boards-list__empty gray">Здесь пока ничего нет</span>
        <Board
          v-for="board in getBoardsPersonal"
          v-if="board.id"
          :key="board.id"
          :board="board"/>
      </div>
    </div>
    <div class="boards-list">
      <span class="boards-list__title subtitle"><b>Командные</b></span>
      <div class="boards-list__content">
        <span
          v-show="getBoardsCommand == 0"
          class="boards-list__empty gray">Здесь пока ничего нет</span>
        <Board
          v-for="board in getBoardsCommand"
          :key="board.id"
          :board="board"/>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
import Board from "../Board.vue";
import FormNewBoard from "../FormNewBoard.vue";

export default {
  components: { Board, FormNewBoard },
  computed: {
    ...mapGetters(["getBoardsPersonal", "getBoardsCommand"]),
  },
  methods: {
    ...mapActions(["showFormBoard"]),
  },
};
</script>

<style>
.dashboards {
  padding-top: 30px;
}

.boards-list {
  margin: 40px 0;
}

.boards-list__content {
  display: flex;
  margin: 10px 0;
}
</style>
