<template>
  <div class="row">
    <div class="col-3 pt-4 d-flex flex-column align-items-center">
      <div class="user-info">
        <img
          class="profile-photo rounded-circle pb-2"
          src="img/profile_7.jpg">
        <div class="user-info__main py-2">
          <span
            v-if="user.name"
            class="title dark pr-5"><b> {{ user.name }}</b></span>
          <span
            v-if="user.position"
            class="main gray"> {{ user.position }}</span>
        </div>
        <div
          v-if="user.organization"
          class="user-info__item row">
          <icon color="dark">supervisor_account</icon>
          <span class="main dark"> {{ user.organization }}</span>
        </div>
        <div
          v-if="user.location"
          class="user-info__item row">
          <icon color="dark">location_on</icon>
          <span class="main dark"> {{ user.location }}</span>
        </div>
        <div
          v-if="user.email"
          class="user-info__item user-info__item-link row">
          <a
            class="main color"
            href="#">
          <icon>email</icon> {{ user.email }}</a>
        </div>
        <div
          v-if="user.phoneNumber"
          class="user-info__item user-info__item-link row">
          <a
            class="main color"
            href="#">
          <icon>phone</icon> {{ user.phoneNumber }}</a>
        </div>
        <div
          class="user-info__item user-info__item-link gray row"
          data-toggle="modal"
          data-target="#userSettings"
          @click="showUserSettingsForm(user)"
        >
          <icon active>mode_edit</icon> Редактировать
        </div>
      </div>
    </div>
    <div class="col-6 events pt-4">
      <div class="title title-page dark mb-4"><b>Обновления</b></div>
      <event-list/>
      <form-user-settings/>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
import Icon from "../BaseIcon.vue";
import EventList from "../EventList.vue";
import FormUserSettings from "../FormUserSettings.vue";

export default {
  components: {
    Icon,
    EventList,
    FormUserSettings,
  },
  data() {
    return { id: 1 };
  },
  computed: {
    ...mapGetters(["getUserDataById"]),
    user() {
      return this.getUserDataById(this.id);
    },
  },
  methods: { ...mapActions(["showUserSettingsForm"]) },
};
</script>

<style>
.profile-photo{
  background-color: #f2f3f7;
}

.user-info__item {
  margin: 10px 0;
}

.user-info__item-link:hover {
  color: #06a7f8;
  cursor: pointer;
}

.btn_user-settings{
  color:  #9DA5B5;
  box-shadow:none;
  border: none;
}

.btn_user-settings:hover{
  background-color: #00000000;
  box-shadow: none;
}
</style>
