<template>
  <div class="tasks w-100">
    <button
      class="btn"
      type="button"
      data-toggle="modal"
      data-target="#newTaskForm"
      @click="showFormCard(dataForNewCard.data)">
      <b>Добавить задачу</b>
    </button>
    <div class="row w-100">
      <form-new-card/>
      <card-list
        v-for="list in lists"
        :key="list.id"
        :list="list"
      />
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
import CardList from "../CardList.vue";
import Icon from "../BaseIcon.vue";
import FormNewCard from "../FormNewCard.vue";

export default {
  components: { Icon, CardList, FormNewCard },
  computed: {
    ...mapGetters(["getListsFromBoard"]),
    lists() {
      return this.getListsFromBoard(0);
    },
    dataForNewCard() {
      return { data: { boardId: 0, userId: 1 } };
    },
  },
  methods: {
    ...mapActions(["showFormCard"]),
  },
};
</script>

<style>
.tasks{
  padding-top: 30px;
}
</style>

