<template>
  <div class="w-100">
    <ol class="breadcrumb">
      <router-link
        to="/dashboards"
        class="breadcrumb-item main gray"
        exact>
        Доски
      </router-link>
      <router-link
        to="/dashboards/viewboard"
        class="breadcrumb-item main gray"
        active-class="breadcrumb-item_active"
        exact>{{ board.name }}
      </router-link>
    </ol>
    <div class="board-view row">
      <CardList
        v-for="list in lists"
        :key="list.id"
        :list="list"/>
      <FormNewCard/>
    </div>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
import CardList from '../CardList.vue';
import FormNewCard from '../FormNewCard.vue';

export default{
  components: { CardList, FormNewCard },
  computed: {
    ...mapGetters(["getBoardSelected", "getBoardById", "getListsFromBoard"]),
    lists() {
      return this.getListsFromBoard(this.getBoardSelected);
    },
    board() {
      return this.getBoardById(this.getBoardSelected);
    },
  },

};
</script>

<style>
.breadcrumb{
  background-color:#00000000;
  margin: 15px 0 0 0;
  padding: 5px 0;
}
.breadcrumb-item_active{
  color: #40B9F6;
}
.btn_in-board{
  background-color: #00000000;
  width: 100%;
  color: #9da5b5;
  margin-top: 10px;
  box-shadow: none;
  margin-top:40px;
}
.btn_in-board:hover{
  background-color: #00000000;
  color: #3A3F4C;
  box-shadow: none;
}
</style>

